$background: linear-gradient(to bottom, #cfd9df, #e2ebf0);
$border: #000000;
$container : #ffff;
$win: rgb(133, 203, 105);
$lose: rgb(232, 49, 33);
$btn: #E7E7E7;
$btnActive: #A8A4A4;
$keybinds:#e0e0e0;